<footer>
  <div class="information">
    <div class="info-row">
      <h4>Horario de atención:</h4>
      <p>Lunes a viernes:</p>
      <p>8:00 a.m. - 12:00 m.</p>
      <p>2:00 p.m. - 6:00 p.m.</p>
    </div>
    <div class="info-row">
      <h4>Campus Central UIS</h4>
      <p>Carrera 27 Calle 9 Bucaramanga PBX: (+57) (607) 634 4000</p>
    </div>
    <div class="info-row">
      <h4>Ubicación:</h4>
      <p>Edificio Laboratorios Pesados, tercer piso, salón 306</p>
    </div>
    <div class="info-row">
      <h4>Contacto:</h4>
      <p>Teléfono:</p>
      <p>Correo:</p>
      <p>correo@correo.com</p>
    </div>
  </div>
  <div class="copyright">
    <p>
      © 2022 | Escuela de Ingeniería de Sistemas e Informática EISI-WEB | UIS
    </p>
    <p>Grupo de desarrollo de software 2</p>
  </div>
</footer>
