<footer>
  <div class="information flex justify-content-center flex-column md:flex-row">
    <div class="flex text-center flex-column align-items-center lg:flex-1 px-5">
      <h3>Horario de atención:</h3>
      <p class="m-0">Lunes a viernes:</p>
      <p class="m-0">8:00 a.m. - 12:00 m.</p>
      <p class="m-0">2:00 p.m. - 6:00 p.m.</p>
    </div>
    <div class="flex text-center flex-column align-items-center lg:flex-1 px-5">
      <h3>Campus Central UIS</h3>
      <p class="m-0">
        Carrera 27 Calle 9 Bucaramanga PBX: (+57) (607) 634 4000
      </p>
    </div>
    <div class="flex text-center flex-column align-items-center lg:flex-1 px-5">
      <h3>Ubicación:</h3>
      <p class="m-0">Edificio Laboratorios Pesados, tercer piso, salón 306</p>
    </div>
    <div class="flex text-center flex-column align-items-center lg:flex-1">
      <h3>Contacto:</h3>
      <div
        class="flex flex-row justify-content-evenly md:flex-column md:justify-content-center w-full px-5"
      >
        <div>
          <h4 class="m-0">Teléfono:</h4>
          <p>Teléfono épico</p>
        </div>
        <div>
          <h4 class="m-0">Correo:</h4>
          <p>aceis.uis@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright text-xs p-1 text-center">
    <p>
      © 2022 | Escuela de Ingeniería de Sistemas e Informática EISI-WEB | UIS
    </p>
    <p>Grupo de desarrollo de software 2</p>
  </div>
</footer>
