.navbar {
  .navbar-container {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .navbar-content {
      display: inherit;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      .main-logo {
        width: 110px;
      }
      .title {
        display: inline-block;
        color: var(--blue);
      }
      .social-media {
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        li {
          list-style: none;
          a {
            text-decoration: none;
          }
        }
      }
    }
  }
  .icons {
    font-size: 30px;
    color: black;
  }
}
