<header>
  <nav class="navbar">
    <div class="navbar-container">
      <div class="navbar-content">
        <img
          class="main-logo"
          src="../../../../assets/images/ceis_logo_no_text.png"
          alt="Ceis Logo"
        />
        <h1 class="title">Centro de Estudios de Ingeniería de Sistemas</h1>
      </div>
      <div class="navbar-content">
        <ul class="social-media">
          <li>
            <a
              href="https://instagram.com/sammy_ceis?igshid=YmMyMTA2M2Y="
              target="_blank"
              ><fa-icon class="icons" [icon]="faInstagram"></fa-icon
            ></a>
          </li>
          <li>
            <a href="#"
              ><fa-icon class="icons" [icon]="faWhatsapp"></fa-icon
            ></a>
          </li>
          <li>
            <a href="https://www.facebook.com/aceis.sistemas" target="_blank"
              ><fa-icon class="icons" [icon]="faFacebook"></fa-icon
            ></a>
          </li>
        </ul>
        <div>
          <a href="https://uis.edu.co/" target="_blank"
            ><img src="../../../../assets/images/LogoUis.png" alt="Logo Uis"
          /></a>
        </div>
      </div>
    </div>
    <div class="navbar-container lower-content">
      <ul class="navbar-actions">
        <li><a href="#">Quienes somos</a></li>
        <li><a href="#">Productos</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Calendario</a></li>
      </ul>
      <button>Ingresa</button>
    </div>
  </nav>
</header>
